<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ninetwozero.bf4intel">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:name=".Bf4Intel"
    android:theme="@style/Bf4IntelTheme">
    <activity
      android:name=".ui.activities.MainActivity"
      android:icon="@drawable/ic_launcher">
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
      android:name=".ui.login.LoginActivity"
      android:label="@string/label_login"
      android:launchMode="singleTop"
      android:windowSoftInputMode="adjustPan|stateUnchanged"
      android:parentActivityName=".ui.activities.MainActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.activities.SingleFragmentActivity"
      android:label="@string/label_activity_soldier_statistics"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/AppTheme"
      android:windowSoftInputMode="stateUnchanged">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.assignments.AssignmentActivity"
      android:label="@string/label_activity_assignments"
      android:screenOrientation="portrait"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.awards.AwardsActivity"
      android:label="@string/label_activity_awards"
      android:screenOrientation="portrait"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.about.AppInfoActivity"
      android:label="@string/label_about"
      android:parentActivityName=".ui.activities.MainActivity"
      android:theme="@style/AppTheme">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity" />
    </activity>

    <activity
      android:name=".ui.search.SearchActivity"
      android:label="@string/label_search"
      android:parentActivityName=".ui.activities.MainActivity"
      android:launchMode="singleTop"
      android:theme="@style/AppTheme">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>

      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable"></meta-data>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".ui.activities.MainActivity"></meta-data>
    </activity>

    <meta-data
      android:name="android.app.default_searchable"
      android:value=".ui.activities.SearchActivity" />

    <!-- Services -->
    <service
      android:name=".services.SoldierOverviewService"
      android:label="@string/label_service_soldieroverview" />

    <!-- Stats -->
    <service
      android:name=".services.stats.weapons.WeaponStatsService"
      android:label="@string/label_service_stats_weapons" />

    <service
      android:name=".services.stats.vehicles.VehicleStatsService"
      android:label="@string/label_service_stats_vehicles" />

    <service
      android:name=".services.stats.reports.BattleReportService"
      android:label="@string/label_service_stats_reports" />

    <service
      android:name=".services.stats.details.DetailedStatsService"
      android:label="@string/label_service_stats_details" />

    <!-- Unlocks -->
    <service
      android:name=".services.unlocks.weapons.WeaponUnlockService"
      android:label="@string/label_service_unlocks_weapons" />

    <service
      android:name=".services.unlocks.vehicles.VehicleUnlockService"
      android:label="@string/label_service_unlocks_vehicles" />

    <service
      android:name=".services.unlocks.kits.KitUnlockService"
      android:label="@string/label_service_unlocks_kits" />

    <!-- Misc -->
    <service
      android:name=".services.AssignmentService"
      android:label="@string/label_service_assignments" />

    <service
      android:name=".services.AwardService"
      android:label="@string/label_service_awards" />

    <!-- News -->
    <service
      android:name=".services.news.NewsListingService"
      android:label="@string/label_service_news" />

    <service
      android:name=".services.news.NewsArticleService"
      android:label="@string/label_service_news" />

    <!-- Battle feed -->
    <service
      android:name=".services.battlefeed.BattleFeedService"
      android:label="@string/label_service_battlefeed" />

  </application>

</manifest>
